body{
	text-align: center;
	background-color: #778899;
	font-family: monospace;
}

table{
	margin: auto;
}

.square{
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-style: solid;
	background-color: white;
}